<h2>Lista de categorias({{categorias.length}}):</h2>
<hr />
<a href="/admin/categorias/add" class="btn btn-success">Nova categoria</a>

{{#each categorias}}
    <div class="card my-2">
        <div class="card-body row align-items-center">
            <div class="col-8">
                <h4>{{nome}}</h4>
                <small>Slug: {{slug}}</small><br />
                <small>Data: {{date}}</small>

            </div>
            <div class="col-4">
                <form
                    action="/admin/categorias/deletar"
                    method="post"
                    class="text-end"
                    style="margin-block-end:0;"
                >
                    <a
                        href="/admin/categorias/edit/{{id}}"
                        class="btn btn-success"
                    >Editar categoria</a>
                    <input type="hidden" name="id" value="{{id}}" />
                    <button type="submit" class="btn btn-danger">Deletar
                        categoria</button>
                </form>
            </div>
        </div>
    </div>
{{else}}
    <h3>Nenhuma categoria registrada</h3>
{{/each}}