<h2>Lista de postagens({{postagens.length}}):</h2>
<hr />
<a href="/admin/postagens/add" class="btn btn-success">Nova postagem</a>

{{#each postagens}}
    <div class="card mt-3">
        <div class="card-body row align-items-center">
            <div class="col-8">
                <h4>{{titulo}}</h4>
                <p>
                    Descrição:
                    {{descricao}}<br />
                    <small>Categoria: {{categoria.nome}}</small><br />
                    <small>Data: {{data}}</small>
                </p>
            </div>
            <div class="col-4">
                <a
                    href="/admin/postagens/edit/{{_id}}"
                    class="btn btn-success"
                >Editar postagens</a>
                <a
                    href="/admin/postagens/delete/{{_id}}"
                    class="btn btn-danger"
                >Apagar postagens</a>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
{{else}}
    <p>Nenhuma postagem registrada</p>
{{/each}}